{% extends 'patient/patientbase.html' %} {% block content %} {% load
widget_tweaks %} {% load static %}
<head>
  <style>
    .label {
      color: white;
      padding: 8px;
    }

    .success {
      background-color: #4caf50;
    } /* شین */
    .info {
      background-color: #2196f3;
    } /* شینەیەکی زەرد */
    .warning {
      background-color: #ff9800;
    } /* ناری */
    .danger {
      background-color: #f44336;
    } /* سور */
    .other {
      background-color: #e7e7e7;
      color: black;
    } /* ڕەنگی خاکی */
  </style>
</head>
<br /><br />
<div class="container">
  <h4 class="text-center">داواکاری خوێنی من</h4>
  <br />
  <table class="table table-light table-hover table-bordered table-striped">
    <thead class="bg-info">
      <tr>
        <th scope="col">ناوی نەخۆش</th>
        <th scope="col">تەمەن</th>
        <th scope="col">هۆکار</th>
        <th scope="col">گروپی خوێن</th>
        <th scope="col">یەکە</th>
        <th scope="col">بەروار</th>
        <th scope="col">دۆخ</th>
      </tr>
    </thead>
    <tbody>
      {% for t in blood_request %}
      <tr>
        <td>{{ t.patient_name }}</td>
        <td>{{ t.patient_age }}</td>
        <td>{{ t.reason }}</td>
        <td>{{ t.bloodgroup }}</td>
        <td>{{ t.unit }}</td>
        <td>{{ t.date }}</td>
        {% if t.status == 'Approved' %}
        <td><span class="label warning">پەسندکراو</span></td>
        {% elif t.status == 'Rejected' %}
        <td><span class="label success">ردکراو</span></td>
        {% else %}
        <td>
          <span style="color: white; margin-left: 0px" class="label info"
            >چاوەڕوانی</span
          >
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
